{% extends "main/base.html" %}
{% block content %}
{% load static %}
{% load markdown_deux_tags %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta">Posted by
              <a href="#">Gyu Young</a>
<!--              {{post.dateCreate}}</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <h2 class="section-heading">{{post.title}}</h2>
          {% if post.img %}
            <img class="img-fluid" src="{{post.img.url}}" alt="post_image">
          {% endif %}
          {{ post.contents|markdown }}
          <p>태그 : {{post.category.names.0}}</p>
        </div>
      </div>
    </div>
  </article>

  <hr>
<!--덧글-->
<div class="container">
    <div id="disqus_thread"></div>
</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = window.location.origin + '/post/' + "{{post.id}}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{post.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://django-blog-12.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}